name: Fraud Workflow
on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    build:
       runs-on: ubuntu-latest
       steps:
        - name: Print Hello
          run: npm test


